body{
    margin: 0px !important;
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
td{
    color: brown;
}
.p-pageBg{
    /* width: 1000px; */
    height: 1200px;
    background: rgb(195,70,34);
    background: linear-gradient(0deg, rgba(195,70,34,1) 0%, rgba(253,187,45,1) 100%);
}
.p-menuBg{
    margin: 0px auto;
    width: 900px;
    height: 1200px;
    background-color: antiquewhite;
}
.p-btn{
    font-size: 40px;
    color:yellow;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 300px;
    padding: 5px 20px;  
    background-color: green;
    border-radius: 15px;
    display: inline-block;
}
#p-btnBrdr{
    border: 10px solid transparent;
    padding: 10px;
    border-image: url(imgs/border-imaage.jpeg) 110 round;
}
.p-divSrtr{
    margin-top: 3px;
    font-size: 22px;
    font-style: italic;
    text-align: center;
}
.p-h2{
    font-size: 30px;   
}
.p-lftImg{
    margin: 35px;
    margin-right: 2px;
    width: 43.5%;
    height: 250px;
    float: left;
    border: 1px solid orange;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.p-rtImg{
    margin: 35px !important;
    margin-left: 2px;
    width: 43.5%;
    height: 250px;
    float: right;
    border: 1px solid orange;
    
}
